html {
  font-size: 10px;
}

.h1 {
  @include text ('Sora', normal, 400, 4.9rem, $color-primary, 6.2rem);
}

.header__subtitle {
  @include text ('Sora', normal, 400, 2rem, $color-light, 3.8rem);
  letter-spacing: 0.4rem;
}

.button {
  @include text ('Sora', normal, 700, 1.5rem, $color-light, 2.5rem);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h2 {
  @include text ('Sora', normal, 700, 2rem, $color-primary, 2.5rem);
}

.choice-menu__option + label,
.search__text,
.search__text::placeholder {
  @include text ('Sora', normal, 400, 1.5rem, $color-primary, 2.5rem);
}

.range-menu__numbers {
  @include text ('Sora', normal, 400, 1.5rem, $color-primary, 2.5rem);
}

.select-box {
  @include text ('Sora', normal, 700, 1.5rem, $color-light, 2.5rem);
  text-align: center;
}

.options-container {
  @include text ('Sora', normal, 700, 1.5rem, $color-light, 3.5rem);
  text-align: center;
}

.store__quantity {
  @include text ('Sora', normal, 700, 1.5rem, $color-primary, 2.5rem);
}

.search__text::placeholder {
  opacity: 0.5;
}

.card__model,
.card__price {
  @include text ('Sora', normal, 400, 1.5rem, $color-light, 2.5rem);
  text-align: center;
}

.DivPath {
  @include text ('Sora', normal, 400, 2rem, $color-primary, 3.5rem);
  text-transform: uppercase;
}

#h1_card {
  @include text ('Sora', normal, 400, 2.5rem, $color-primary, 3.5rem);
}
.footer__SashaGit,
.footer__NataGit,
.footer__year {
  @include text ('Sora', normal, 700, 1.5rem, $color-light, 2.5rem);
  text-decoration: none;
}

.rating-num, 
.data__text {
  @include text ('Sora', normal, 400, 1.5rem, $color-primary, 1.5rem);
}

.price-with-discount,
.cart__quantity {
  @include text ('Sora', normal, 700, 1.5rem, $color-primary, 1.5rem);
}

.price-no-discount {
  @include text ('Sora', normal, 700, 1.2rem, rgba(105, 0, 31, 0.35), 1.5rem);
  text-decoration: line-through;
}

.data__title {
  @include text ('Sora', normal, 700, 1.5rem, $color-primary, 1.5rem);
}

.data__button {
  @include text ('Sora', normal, 400, 1.5rem, $color-light, 1.5rem);
}

.cart__total {
  @include text ('Sora', normal, 400, 1.8rem, $color-light, 1.8rem);
}

.item__description-title,
.item__category,
.item__price,
.item__quantity-counter,
.item__quantity-button {
  @include text ('Sora', normal, 400, 1.5rem, $color-primary, 2rem);
}

.item__quantity-counter {
  text-align: center
}

.item__description-text {
  @include text ('Sora', normal, 400, 1rem, rgba(105, 0, 31, 0.65), 2rem);
}

.summary__title {
  @include text ('Sora', normal, 400, 2rem, $color-light, 2.5rem);
}

.summary__checkout-button,
.summary__promocode-button,
.summary__li,
.price-changed {
  @include text ('Sora', normal, 400, 1.3rem, $color-light, 1.6rem);
}

.price-changed {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: line-through;
}

.summary__promocode-input,
.summary__promocode-input::placeholder {
  @include text ('Sora', normal, 400, 1.3rem, $color-primary, 1.6rem);
}

.summary__promocode-input::placeholder {
  opacity: 0.5;
}

.menu span {
  @include text ('Sora', normal, 400, 1.3rem, $color-primary, 1.6rem);
}

.menu input,
.menu input::placeholder {
  @include text ('Sora', normal, 400, 1.3rem, $color-primary, 1.6rem);
}

.menu input::placeholder {
  opacity: 0.5;
}

.cart-empty {
  @include text ('Sora', normal, 400, 4.9rem, $color-primary, 6.2rem);
}

.popup__front-name-placeholder,
.popup__front-expiration-placeholder {
  @include text ('Inconsolata', normal, normal, 1rem, $color-light, 1.15rem);
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.5;
}

.form__placeholder {
  @include text ('Inconsolata', normal, bold, 1.1rem, rgba(105, 0, 31, 0.6), 1.15rem);
  text-transform: uppercase;
  //text-shadow: 0 1px 1px rgb(0 0 0 / 30%);
}

.form__input,
.form__input_long,
.form__select {
  @include text ('Inconsolata', normal, normal, 1.5rem, $color-primary, 1.5rem);
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.popup__button {
  @include text ('Inconsolata', normal, normal, 1.5rem, $color-light, 1.5rem);
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.form__input_half {
  @include text ('Inconsolata', normal, normal, 1.5rem, $color-primary, 1.5rem);
  text-align: center;
  letter-spacing: 1px;
}

#ccv-placeholder,
#email-placeholder {
  text-align: right;
}
