html {
  font-size: 10px;
}

.h1 {
  @include text ('Sora', normal, 400, 4.9rem, $color-primary, 6.2rem);
}

.header__subtitle {
  @include text ('Sora', normal, 400, 3rem, $color-primary, 3.8rem);
}

.button {
  @include text ('Sora', normal, 700, 1.5rem, $color-light, 2.5rem);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h2 {
  @include text ('Sora', normal, 700, 2rem, $color-primary, 2.5rem);
}

.choice-menu__option + label {
  @include text ('Sora', normal, 400, 1.5rem, $color-primary, 2.5rem);
}

.range-menu__numbers {
  @include text ('Sora', normal, 400, 1.5rem, $color-primary, 2.5rem);
}

.select-box {
  @include text ('Sora', normal, 700, 1.5rem, $color-light, 2.5rem);
  text-align: center;
}

.options-container {
  @include text ('Sora', normal, 700, 1.5rem, $color-light, 3.5rem);
  text-align: center;
}

.store__quantity,
.search__text,
.search__text::placeholder {
  @include text ('Sora', normal, 700, 1.5rem, $color-primary, 2.5rem);
}

.search__text::placeholder {
  opacity: 0.5;
}

.card__model,
.card__price {
  @include text ('Sora', normal, 400, 1.5rem, $color-light, 2.5rem);
  text-align: center;
}

.DivPath {
  @include text ('Sora', normal, 400, 2rem, $color-primary, 3.5rem);
  text-transform: uppercase;
}

#h1_card {
  @include text ('Sora', normal, 400, 2.5rem, $color-primary, 3.5rem);
}
.footer__SashaGit,
.footer__NataGit,
.footer__year {
  @include text ('Sora', normal, 700, 1.5rem, $color-light, 2.5rem);
  text-decoration: none;
}

.rating-num, 
.data__text {
  @include text ('Sora', normal, 400, 1.5rem, $color-primary, 1.5rem);
}

.price-with-discount {
  @include text ('Sora', normal, 700, 1.5rem, $color-primary, 1.5rem);
}

.price-no-discount {
  @include text ('Sora', normal, 700, 1.2rem, rgba(105, 0, 31, 0.35), 1.5rem);
  text-decoration: line-through;
}

.data__title {
  @include text ('Sora', normal, 700, 1.5rem, $color-primary, 1.5rem);
}

.data__button {
  @include text ('Sora', normal, 400, 1.5rem, $color-light, 1.5rem);
}