header {
  height: 133px;
  background: linear-gradient(0deg, #69001F 50%, #fff 50%);
  // background-color: $color-light;
  // background-image: url('./assets/images/headerbackground1.jpg');
  // background-repeat: no-repeat;
  // background-position: 100% 100%;
}

.header__wrapper {
  max-width: 1200px;
  margin: auto;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__cart {
  width: 105px;
  height: 105px;
  display: flex;
  background-color:#fff;
  border-radius: 50%;
}


//////////////////////
.cart {
  display: flex;
  margin: auto;
  width: 90px;
  height: 90px;
  background: $color-primary;
  border-radius: 50%;
  transition: .3s;
  &:hover {
    background: $color-primary-hover;
    cursor: pointer;
  }
  &:active {
    transform: scale(1.05);
  }
}

.cart__icon {
  margin: auto;
  height: 40px;
}

.h1 {
  cursor: pointer;
  width: fit-content;
}