// .cart__wrapper {
//   flex-direction: column;
// }

.cart__items {
  display: flex;
  flex-direction: column;
  width: 70%;
  row-gap: 10px;
}

.cart__summary {
  padding: 30px 30px 22px 35px;
  width: 30%;
  background: $color-primary;
  border-radius: 40px 0 0 40px;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.menu {
  order: 1;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu span {
  margin-right: 5px;
}

.menu input {
  padding: 0 10px;
  width: 60px;
  height: 25px;
  border: none;
  outline: none;
  background: rgba(105, 0, 31, 0.2);
  border-radius: 40px;
  transition: .3s;
  &::-webkit-inner-spin-button {
    cursor: pointer;
    transition: .3s;
  }
}

.limit {
  margin-right: 10px;
}

.cart-empty {
  margin: auto;
}