.store {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 6;
  //gap: 20px;
}

.store__menu {
  display: flex;
  justify-content: space-between;
  height: 45px;
  width: 100%;
}

.store__products {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  border: 1px solid $color-primary;
  border-radius: 40px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  row-gap: 20px;
}